.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.info-text {
    grid-column: 1 / 3;
    /* grid-row: 1 / 3; */
}

.log-in-panel {
    grid-column: 3;
    max-height:max-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #A31F34;
}


a {
    color: #A31F34;
    font-weight: bold;
    text-decoration: underline;
}
a:hover {
    color: #FF1423
}

h5{
    font-weight: bold;
}



.button-panel {
    display: flex;
    flex-direction: row;
    /* justify-content: ; */
    /* padding: 0% 10% 0%; */
}

.lip {
    margin: 0.5em 2em 0.5em;
}

.button {
    
    background-color: #A31F34;
    color: white;
    font-weight: bold;
}

.btn-lip { /* lip = log in panel */
    margin: 0 5px 0; /* adds proper spacing to buttons*/
}

.button:hover {
    background-color: #FF1423;
    color: white;
}


/* figma colors: 
MIT Red
750014

Logo Red
#A31F34

Bright Red
#FF1423

Black
#000000

Silver Gray
#8B959E

*/
